/* Beautiful animated cosmic background */
.cosmic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000428 0%, #004e92 100%);
    overflow: hidden;
    z-index: 0;
}

/* Small stars - many and twinkling fast */
#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;
    box-shadow: 
        100px 100px #fff, 200px 150px #fff, 300px 200px #fff, 400px 250px #fff,
        500px 300px #fff, 600px 350px #fff, 700px 400px #fff, 800px 450px #fff,
        150px 50px #fff, 250px 100px #fff, 350px 150px #fff, 450px 200px #fff,
        550px 250px #fff, 650px 300px #fff, 750px 350px #fff, 850px 400px #fff,
        50px 200px #fff, 150px 250px #fff, 250px 300px #fff, 350px 350px #fff,
        450px 400px #fff, 550px 450px #fff, 650px 500px #fff, 750px 550px #fff,
        900px 100px #fff, 1000px 200px #fff, 1100px 300px #fff, 1200px 400px #fff,
        1300px 500px #fff, 1400px 600px #fff, 1500px 700px #fff, 1600px 800px #fff,
        50px 600px #fff, 150px 650px #fff, 250px 700px #fff, 350px 750px #fff,
        450px 800px #fff, 550px 850px #fff, 650px 900px #fff, 750px 950px #fff,
        80px 120px #fff, 180px 170px #fff, 280px 220px #fff, 380px 270px #fff,
        480px 320px #fff, 580px 370px #fff, 680px 420px #fff, 780px 470px #fff,
        120px 80px #fff, 220px 130px #fff, 320px 180px #fff, 420px 230px #fff,
        520px 280px #fff, 620px 330px #fff, 720px 380px #fff, 820px 430px #fff,
        1700px 100px #fff, 1800px 200px #fff, 1900px 300px #fff, 2000px 400px #fff;
    animation: sparkle 4s ease-in-out infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 
        100px 100px #fff, 200px 150px #fff, 300px 200px #fff, 400px 250px #fff,
        500px 300px #fff, 600px 350px #fff, 700px 400px #fff, 800px 450px #fff,
        150px 50px #fff, 250px 100px #fff, 350px 150px #fff, 450px 200px #fff;
}

/* Medium stars */
#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    position: absolute;
    box-shadow: 
        120px 80px #fff, 220px 130px #fff, 320px 180px #fff, 420px 230px #fff,
        520px 280px #fff, 620px 330px #fff, 720px 380px #fff, 820px 430px #fff,
        170px 30px #fff, 270px 80px #fff, 370px 130px #fff, 470px 180px #fff,
        570px 230px #fff, 670px 280px #fff, 770px 330px #fff, 870px 380px #fff,
        70px 180px #fff, 170px 230px #fff, 270px 280px #fff, 370px 330px #fff,
        470px 380px #fff, 570px 430px #fff, 670px 480px #fff, 770px 530px #fff,
        1200px 150px #fff, 1300px 250px #fff, 1400px 350px #fff, 1500px 450px #fff;
    animation: sparkle 5s ease-in-out infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 
        120px 80px #fff, 220px 130px #fff, 320px 180px #fff, 420px 230px #fff;
}

/* Large bright stars */
#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    position: absolute;
    box-shadow: 
        200px 200px #fff, 400px 300px #fff, 600px 400px #fff, 800px 500px #fff,
        1000px 600px #fff, 1200px 700px #fff, 300px 100px #fff, 500px 200px #fff,
        700px 300px #fff, 900px 400px #fff, 1100px 500px #fff, 1300px 600px #fff,
        100px 300px #fff, 300px 400px #fff, 500px 500px #fff, 700px 600px #fff,
        1400px 200px #fff, 1600px 400px #fff, 1800px 600px #fff, 2000px 800px #fff;
    animation: sparkle 6s ease-in-out infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 
        200px 200px #fff, 400px 300px #fff, 600px 400px #fff, 800px 500px #fff;
}

@keyframes sparkle {
    0%, 100% {
        opacity: 0.6;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}