.App {
  text-align: center;
  background: transparent !important;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header a {
  color: #61dafb;
  text-decoration: none;
}

.App-header a:hover {
  text-decoration: underline;
}
